<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Интернет для запросов к твоему локальному API -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.WordVPN"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">

        <!-- Экран логина — есть intent-filter, поэтому exported ОБЯЗАТЕЛЬНО -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Главный экран — из приложения, извне запускать не нужно -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
    </application>

</manifest>
